@model TravelExpertsMVC.Data.Package

@section head {
    <link rel="stylesheet" type="text/css" href="~/css/register.css" />
    <meta name="description" content="Book a Package">
    <title>Book a Package - Travel Experts</title>
}

@*Author: William*@
@*Author: Filip*@
<h1>@Html.DisplayFor(model => model.PkgName)</h1>
<div class="main-content" style="min-height:63vh !important">
    @*<dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PackageId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PackageId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PkgName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PkgName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PkgStartDate)
            </dt>
            <dd class="col-sm-10">
                @{
                    string startDateValue = Model.PkgStartDate.GetValueOrDefault().ToShortDateString();
                }
                @Html.DisplayFor(model => startDateValue)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PkgEndDate)
            </dt>
            <dd class="col-sm-10">
                @{
                    string endDateValue = Model.PkgEndDate.GetValueOrDefault().ToShortDateString();
                }
                @Html.DisplayFor(model => endDateValue)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PkgDesc)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PkgDesc)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PkgBasePrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PkgBasePrice)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PkgAgencyCommission)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PkgAgencyCommission)
            </dd>
        </dl>*@
    <form asp-action="Order">
        <table class="table">
            <tr>
                <td class="large" colspan="2">@Html.DisplayFor(model => model.PkgDesc)</td>
            </tr>
            <tr>
                <td class="large">Departure:</td>
                <td>
                    @{
                        string startDateValue = Model.PkgStartDate.GetValueOrDefault().ToShortDateString();
                    }
                    <b>@Html.DisplayFor(model => startDateValue)</b>
                </td>
            </tr>
            <tr>
                <td class="large">Return:</td>
                <td>
                    @{
                        string endDateValue = Model.PkgEndDate.GetValueOrDefault().ToShortDateString();
                    }
                    <b>@Html.DisplayFor(model => endDateValue)</b>
                </td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><b>$@Html.DisplayFor(model => model.PkgBasePrice)</b></td>
            </tr>
            <tr>
                <td>How many are traveling?</td>
                <td>
                    <select name="people" style="float:right;">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                </td>

            </tr>
            <tr>
                <td>
                    Trip type:
                </td>
                <td>
                    <select name="tripType" id="tripType" style="float:right;">
                        <option value="B">Business</option>
                        <option value="L">Leisure</option>
                        <option value="G">Group</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Order package" class="btn btn-primary" style="width:100%;" />
                </td>
            </tr>
            <tr style="display:none">
                <td><input type="text" name="package" value="@Model.PackageId" /></td>
            </tr>
        </table>
    </form>
</div>