@model TravelExpertsMVC.Data.Customer

@section head {
    <link rel="stylesheet" type="text/css" href="~/css/register.css" />
    <script src="~/js/readform.js"></script>
    <meta name="description" content="Update your Information">
    <title>Update - Travel Experts</title>
}

@*Author: Filip*@

<div class="main-content">
    <section>
        <h1>Edit your personal information</h1>
        <form asp-action="Edit" id="edit-form" method="post">
            <table class="table">
                <tr>
                    <td><label asp-for="CustFirstName">First Name:</label></td>
                    <td><input asp-for="CustFirstName" value="@Model.CustFirstName" /></td>

                    <td><label asp-for="CustLastName">Last Name:</label></td>
                    <td><input asp-for="CustLastName" value="@Model.CustLastName" /></td>
                </tr>
                <tr>
                    <td><label asp-for="CustPassword">Password:</label></td>
                    <td><input type="password" asp-for="CustPassword" value="@Model.CustPassword" /></td>

                    <td><label asp-for="CustHomePhone">Home Phone:</label></td>
                    <td><input asp-for="CustHomePhone" value="@Model.CustHomePhone" /></td>
                </tr>

                <tr>
                    <td><label asp-for="ConfirmPassword" >Confirm:</label></td>
                    <td><input type="password" asp-for="ConfirmPassword" value="@Model.CustPassword" /></td>

                    <td><label asp-for="CustBusPhone">Business Phone:</label></td>
                    <td><input asp-for="CustBusPhone" value="@Model.CustBusPhone" /></td>
                </tr>
                <tr>
                    <td><label asp-for="CustEmail">Email:</label></td>
                    <td><input asp-for="CustEmail" value="@Model.CustEmail" /></td>
                </tr>

                <tr><td style="height: 2em;"></td></tr>
                <tr>
                    <td><label asp-for="CustAddress">Address:</label></td>
                    <td><input asp-for="CustAddress" value="@Model.CustAddress" /></td>

                    <td><label asp-for="CustCity">City:</label></td>
                    <td><input asp-for="CustCity" value="@Model.CustCity" /></td>
                </tr>
                <tr>
                    <td><label>Province</label></td>
                    <td>
                        <select asp-for="@Model.CustProv">
                            <option>AB</option>
                            <option>BC</option>
                            <option>MB</option>
                            <option>NB</option>
                            <option>NL</option>
                            <option>NT</option>
                            <option>NS</option>
                            <option>NU</option>
                            <option>ON</option>
                            <option>PE</option>
                            <option>QC</option>
                            <option>SK</option>
                            <option>YT</option>
                        </select>

                    <td><label asp-for="CustCountry">Country:</label></td>
                    <td><input asp-for="CustCountry" value="@Model.CustCountry" /></td>
                </tr>
                <tr>
                    <td><label asp-for="CustPostal">Postal:</label></td>
                    <td><input asp-for="CustPostal" value="@Model.CustPostal" /></td>
                </tr>
                <tr>
                    <td></td><td class="small"><span asp-validation-for="CustPassword" class="text-danger"></span></td>
                    <td></td><td class="small"><span asp-validation-for="ConfirmPassword" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><input type="submit" value="Update" class="btn" onclick="return validate()" /></td>
                </tr>
            </table>
        </form>
    </section>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
