@model IEnumerable<TravelExpertsData.DBViews.CustomerBooking>

@section head {
    <meta name="description" content="See your bookings">
    <link rel="stylesheet" type="text/css" href="~/css/packages.css" />
    <title> Bookings - Travel Agents </title>
}
<h1>My bookings</h1>

@*Author: Filip*@

<div class="main-content">
    <table class="table" style="width:100%;">
        <tr>
            <th>Booking No</th>
            <th>No of Travelers</th>
            <th>Booking Date</th>
            <th>Trip Dates</th>
            <th>Description</th>
            <th>Products</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.BookingId)</td>
                <td>@Html.DisplayFor(modelItem => item.PeopleNo)</td>
                <td>
                    @{
                        string bookingDateValue = item.BookingDate.GetValueOrDefault().ToShortDateString();
                    }
                    @Html.DisplayFor(modelItem => bookingDateValue)
                </td>
                <td>
                    @{
                        string startDateValue = item.TripStart.GetValueOrDefault().ToShortDateString();
                    }
                    @Html.DisplayFor(modelItem => startDateValue) to
                    @{
                        string endDateValue = item.TripEnd.GetValueOrDefault().ToShortDateString();
                    }
                    @Html.DisplayFor(modelItem => endDateValue)

                </td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>
                    @foreach (var product in item.ProductsInBooking)
                    {
                        <p>@product</p>
                    }
                </td>
            </tr>
        }

    </table>
</div>

<h2>
    Price of all bookings:
    @{
        decimal totalCost = 0m;
        foreach (var item in Model)
        {
            totalCost += item.TotalPrice;
        }
    }
    @string.Format("{0:C}", totalCost)
</h2>