@model PackageViewModel

@{
    ViewData["Title"] = "Packages";
}

<h1>Packages</h1>

<hr />



@*-- old version below this line --*@

@*@model PackageViewModel*@


@section head {
    <meta name="description" content="See Vacation Packages Here - the Travel Experts agency">
    <link rel="stylesheet" type="text/css" href="~/css/packages.css" />
    <title> Packages - Travel Agents </title>
}

@*<h1> Our best packages for you: </h1>*@

<div class="main-content">
    <table class="table">
        <tr>
            <th>Package Name</th>
            <th>Departure Date</th>
            <th>Return Date</th>
            <th>Description</th>
            <th>Price</th>
            <th> </th>
        </tr>

        @foreach (var packageDetail in Model.Packages)
        {
            <tr>
                <td>@packageDetail.PkgName</td>
                <td>@packageDetail.PkgStartDate.Value.ToString("d")</td>
                <td>@packageDetail.PkgEndDate.Value.ToString("d")</td>
                <td>@packageDetail.PkgDesc</td>
                <td>@packageDetail.PkgBasePrice.ToString("C")</td>
                <td> <a href="order"><button class="btn"> Order This Package </button></a> </td>
            </tr>
        }

    </table>
</div>
<br>
<br>
<br>
<br>
<br>


